<div class="preRelease">
    <button type="button" id="btnClose" routerLink="/main-page" routerLinkActive="active"><i class="fas fa-times"></i></button>
    <div class="contain">
        <h2 class="choose">CHOISSISEZ LA VERSION QUE VOUS VOULEZ :</h2>
        <div class="listRelease">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/picts/starfieldStandard.jpg" class="img-fluid w-100" alt="pictGame" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/picts/starfieldPrenium.jpg" class="img-fluid w-100" alt="pictGame" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/picts/starfieldUpgradePrenium.jpg" class="img-fluid w-100" alt="pictGame" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="/assets/picts/starfieldEditionConstellation.jpg" class="img-fluid w-100" alt="pictGame" />
                </div>
            </div>
        </div>
    </div>
</div>