<div class="signUp">
   <button type="button" id="btnClose" routerLink="/main-page" routerLinkActive="active"><i class="fas fa-times"></i></button>
    <div class="contain">
        <div class="inscribe">
            <div class="row">
                <p class="log">ENREGISTREZ-VOUS AUX UNITED COLONIES :</p>
                <form action="" method="post">
                    <div class="firstInput">
                        <label for="prénom"></label>
                        <input type="text" name="prénom" id="prénom" placeholder="Prénom" required>
                      
                        <label for="nom"></label>
                        <input type="text" name="nom" id="nom" placeholder="Nom" required>
                    </div>
                    <div class="secondInput">
                        <label for="email"></label>
                        <input type="email" name="email" id="email" placeholder="Adresse E-mail" required>
                        
                        <label for="password"></label>
                        <input type="password" name="password" id="password" placeholder="Mot de Passe" required>
                    </div>       
                    <div class="optionInscribe">
                        <button type="submit" id="btnInscribe">S'INSCRIRE</button>
                        <p class="connect">
                            <a href="#" routerLink="/join-page" routerLinkActive="active">CONNECTEZ-VOUS</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>