<div class="joinUs">
   <button type="button" id="btnClose" routerLink="/main-page" routerLinkActive="active"><i class="fas fa-times"></i></button>
    <div class="contain">
        <div class="join">
                <p class="log">SE CONNECTER</p>
                <form action="" method="post">
                    <label for="username"></label>
                    <input type="text" name="username" id="username" placeholder="Nom d'utilisateur" required>

                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Mot de Passe" required>
                    <div class="optionConnect">
                        <button type="submit" id="btnConnect">CONNEXION</button>
                        <p class="inscribe">
                            <a href="#" routerLink="/inscribe-page" routerLinkActive="active">INSCRIVEZ-VOUS</a>
                        </p>
                    </div>
                </form>
        </div>
    </div>
</div>